<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../view/css/tutotialStyle.css">
    <title>Cadastro</title>
</head>
<body>

    <script type="text/javascript" src="/view/js/telaCadastro.js"></script>

    <div class="container">
        <div class="linhaVermelha"></div>

        <nav>
            <button class="btnAluno"><a href="">Alunos</a></button>
            <button class="btnInicio"><a href="">Inicio</a></button>

            <div class="btnCadastro">
                <a href="#">Cadastros</a>
                <ul class="lstCadastros">
                    <li><a href="#">Cadastro de Alunos</a></li>
                    <li><a href="#">Cadastro de Professores</a></li>
                </ul>
            </div>

            <button class="btnIniciaQuestionario"><a href="">Iniciar questionário</a></button>
            <button class="btnSair"><a href="">Sair</a></button>

        </nav>
        
        <div class="arcoIris">
            <div class="azul">
                <div class="amarelo">
                    <div class="vermelho">
                        <div class="branco">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>

</body>
</html>
